
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  ul,ol,li{
    list-style: none;
}
  :root {
    --primary-color:#F5CF06 ;
    --secundary-color: #8E4106;
  }
  body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color:var(--primary-color) ;
    font-family: "Righteous", sans-serif;
    align-items: center;
    justify-content: center;
    padding: 0px 70px ;
    
  }
  header{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
  }
  header img{
    position: absolute;
  }
  main{
    position: relative;
    background-image: url('./img/Pikachu back.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top -90px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .imgPikachu{
    /* background-color: aliceblue; */
    transform: translateY(30px);
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 20%;
    position: fixed;
  }
  
  .Download{
    transform: translateX(200px);
    display: flex;
    align-items: end;
    height: 100%;
    width: 34%;  
    /* position: fixed; */
    /* position: absolute; */
    
    
  }
  .caixa{
    gap: 10px;
    transform: translateY(-15px);
    background-color: #8E4106;
    height: 13%;
    width: 400px;
    display: flex;
    align-items: center;
   justify-content: center;
  

  }
  .caixa span{
    color: white;
    font-size: 40px;
  }
  .frasesLets{
    position: absolute;
    display: flex; 
    transform: translateX(-125px);
    /* transform: translateY(50px); */
    width: 34%;
    height: 100%;
    align-items: end;
   position: relative;
    justify-content: center;
    flex-direction: column;
    
  }
  .frasesLets span{
    transform: translateY(180px);
    color: #8E4106;
    font-weight:500 ;
    font-size: 2.3rem;
    line-height: 100%;
     
  }
  .frasesLets p{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
  }

  footer{
    /* background-color: var(--primary-color); */
    /* background-color: rgb(0, 225, 255); */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:10% ;
  }
 footer a{
    color: #8E4106;
    font-weight: 550;


 }